@import '_colors';

.alternating-columns-2022 {
    margin-top: 50px;
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row dense;
        gap: 150px 10%;
        margin-left: 200px;
        grid-auto-rows: auto;
        .image {
            padding-bottom: 100%;
            position: relative;
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                z-index: 3;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                left: -10%;
                top: 50%;
                right: initial;
                bottom: initial;
                width: 100%;
                height: 60%;
                background-size: 9px auto;
                z-index: 2;
            }
        }
        & > :nth-child(4n-1) {
            grid-column-start: 2;
        }
        .content {
            &>p {
                margin-top: 20px;
            }
            &>a {
                display: inline-block;
                margin-top: 40px;
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .alternating-columns-2022 {
        .grid {
            .image {
                &:after {
                    display: none;
                }
            }
        }
    }
}