@import '_colors';


.button-2022 {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    display: inline-block;
    position: relative;
    padding: 12px 32px 12px 32px;
    border-radius: 40px;
    border: 3px solid $crimson;
    color: white;
    background-color: $crimson;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    cursor: pointer;
    &:active, &:hover {
        background-color: white;
        color: $crimson;
    }
    &.inverse {
        color: $crimson;
        background-color: white;
        &:active, &:hover {
            background-color: $crimson;
            color: white;
        }
    }  
    &.inverse-white {
        color: $crimson;
        border: 3px solid white;
        background-color: white;
        &:active, &:hover {
            border: 3px solid $crimson;
            background-color: $crimson;
            color: white;
        }
    }  
}


