@import '_colors';

.button {
    display: inline-block;
    position: relative;
    padding: 20px 40px 20px 40px;
    border-radius: 40px;
    border: 2px solid $crimson;
    color: white;
    background-color: $crimson;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
    &:active, &:hover {
        background-color: white;
        color: $crimson;
    }
    &.inverse {
        color: $crimson;
        background-color: white;
        &:active, &:hover {
            background-color: $crimson;
            color: white;
        }
    }



    
}

