$crimson: #D91F37;
$raisin: #212636;
$teal: #458097;
$carolina: #53A6D4;
$oldgold: #D7BC3A;
$emerald: #309683;
$sonic: #757679;
$black: #000000;
$semiblack: #262626;
$gray: #595959;
$semigray: #DDDDDD;
$lightgray: #F1F2F2;

$mobile: 480px;
$tablet: 768px;
$semidesktop: 1200px;