@import '_colors';

@font-face {
    font-family:'FontAwesome';
    src:url('https://cdn2.hubspot.net/hubfs/5315915/Assets/fontawesome-webfont.eot'),
        url('https://cdn2.hubspot.net/hubfs/5315915/Assets/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('https://cdn2.hubspot.net/hubfs/5315915/Assets/fontawesome-webfont.woff') format('woff'),
        url('https://cdn2.hubspot.net/hubfs/5315915/Assets/fontawesome-webfont.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 46px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}

h4 {
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
}

h5 {
    font-size: 22px;
    font-weight: 700;
}

h6 {
    font-size: 28px;
    font-weight: 400;
}

li {
    margin:0 0 10px 0;   
}


p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

@media screen and (min-width: ($tablet +1) ) and (max-width: $semidesktop) {
    h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: $mobile) {
    h1 {
        font-size: 38px;
        font-weight: 800;
        line-height: 46px;
    }
    
    h2 {
        font-size: 32px;
        font-weight: 800;
        line-height: 40px;
    }
    
    h3 {
        font-size: 26px;
        font-weight: 800;
        line-height: 34px;
    }
    
    h4 {
        font-size: 20px;
        font-weight: 800;
        line-height: 28px;
    }
    
    
    p {
        font-size: 20px;
        font-weight: 300;
        line-height: 28px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
    
}


