@import '_colors';

@media screen and (min-width: ($tablet + 1)) and (max-width: $semidesktop) {
    .news-2022 {
        .card {
            padding: 60px !important;
        }
    }
    .assets-2022 {
        .prime {
            background-size: 80%;
            .content {
                grid-template-columns: 40% auto;
            }
        }
    }
    .color-wrapper {
        .polka.d:after {
            height: 76px !important;
        }
        .polka.r {
            width: 30% !important;
        }
    }
    .hero-2022 {
        .polka {
            width: initial !important;
            padding: 50px !important;
        }
    }
    .hero2-2022 {
        padding-top: 80px;
        .extrabg:before {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 85%, white 85%);
        }
        .message {
            margin-left: 0 !important;
            padding: 50px !important;
        }
    }
    .customers-2022 {
        .polka {
            bottom: 50px;
        }
    }
    .three-columns-2022 {
        .grid {
            gap: 30px;
            margin-left: 0;
            .big-card {
                grid-column: 2/span 2;
                padding: 40px;
            }
        }
    }
    .alternating-columns-2022 {
        .grid {
            margin-left: 0;
        }
    }
    .regular-block-2022 {
        .grid {
            gap: 20px;
            grid-template-columns: auto 40%;
        }
        .image:after {
            display: none !important;
        }
        .image-left {
            .grid {
                grid-template-columns: 40% auto;
            }
        }
    }

    .two-cards-2022 {
        .cradle {
            padding: 0 15px;
            padding-bottom: 60px;
            .grid {
                gap: 30px;
            }
        }
    }
    .two-column-cards-2022 {
        .grid {
            gap: 20px;
            .card {
                padding: 80px 40px 40px 40px;
                &:after {
                    width: 80px;
                    height: 51px;
                    top: 4px;
                    left: 40px;
                }
            }
        }
    }
    .double-video-2022 {
        .cradle {
            padding: 60px 15px 0 15px;
            &:after {
                left: 0;
            }
            .grid {
                gap: 20px;
            }
        }
    }
    .tabs-2022 {
        .tab {
            padding: 40px;
            .grid {
                grid-template-columns: 1fr;
                &>.content {
                    grid-row-start: 1;
                }
            }
        }
    }
    .tabs-vertical-2022 {
        .r {
            padding: 40px !important;
        }
        .subgrid {
            grid-template-columns: 1fr !important;
        }
        &.useimage .r {
            padding: 40px;
            background: $lightgray;
        }
    }
    .footer-2022 {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 80px 20px;
            .company_info {
                grid-column: 1 / span 3;
            }
        }
    }
}