@import '_colors';

@media screen and (min-width: ($mobile + 1)) and (max-width: $tablet) {
    .hero-2022 {
        .polka {
            width: initial !important;
            padding: 50px !important;
            .announcements {
                .card {
                    grid-template-columns: 1fr !important;
                    gap: 20px;
                    .image {
                        border-left: none !important;
                    }
                }
            }
        }
        .swiper-pagination .swiper-pagination-bullet {
            width: 60px !important;
        }
    }

    .customers-2022 {
        .cradle {
            grid-template-columns: 1fr !important;
            .grid {
            grid-template-columns: 1fr !important;
            }
        }
        .polka {
            bottom: 40px;
        }
    }

    .news-2022 {
        .cradle {
            padding: 0;
        }
        .grid {
            grid-template-columns: 1fr !important;
            .header {
                grid-column: 1;
            }
            .card {
                padding: 30px 60px;
            }
        }
    }

    .assets-2022 {
        .prime {
            background-size: 100%;
            padding-bottom: 60px;
            .content {
                grid-template-columns: 1fr !important;
                .image {
                    height: 300px;
                }
            }
        }
    }

    .hero2-2022 {
        padding-top: 100px;
        .polka {
            display: none;
        }
        .cradle {
            grid-template-columns: 1fr !important;
            gap: 40px;
            .message {
                margin-left: 0;
                padding: 60px 60px 120px 60px;
            }
        }
    }

    .three-columns-2022 {
        .grid {
            grid-template-columns: 1fr 1fr;
            margin-left: 0;
            gap: 20px;
            .big-card {
                grid-column: 1/span 2;
                padding: 60px;
            }
        }
    }

    .alternating-columns-2022 .grid {
        margin-left: 0;
    }

    .regular-block-2022 .grid {
        grid-template-columns: 1fr !important;
        gap: 100px 10px;
    }

    .two-cards-2022 {
        .cradle {
            padding: 20px;
        }
        .grid {
            gap: 20px;
        }
    }

    .double-columns-2022 {
        .grid {
            grid-template-columns: 1fr !important;
            .subgrid {
                grid-template-columns: 1fr !important;
                gap: 20px;
                h4 {
                    overflow-wrap: break-word;
                }
            }
        }
    }

    .two-column-cards-2022 {
        .grid {
            gap: 20px;
            grid-template-columns: 1fr !important;
            .card {
                padding: 40px;
                &:after {
                    left: 0;
                    top: 45px;
                    width: 35px;
                }
            }
        }
    }

    .brick-2022 {
        .cradle {
            padding: 0;
        }
        .grid {
            grid-template-columns: 1fr !important;
            .content {
                padding: 60px 40px;
            }
        }
    }

    .single-video-2022 .cradle:after {
        right: 0;
    }

    .double-video-2022 {
        .grid {
            gap: 20px;
        }
        .cradle {
            padding-left: 20px;
            padding-right: 20px;
            &:after {
                left: 0;
            }
        }
    }

    .spread-2022 {
        .background-image {
            display: none;
        }
        .cradle {
            padding: 0 15px;
        }
        .grid {
            grid-template-columns: 1fr !important;
        }
    }

    .tabs-2022 {
        .cradle {
            padding: 0;
            .tab {
                padding: 40px;
                .grid {
                    .content {
                        grid-row-start: 2;
                    }
                    grid-template-columns: 1fr !important;
                    gap: 20px;
                }
            }
        }
    }

    .tabs-vertical-2022 {
        .cradle {
            padding: 0;
        }
        .grid {
            .r {
                background: $lightgray;
                padding: 40px;
                .subgrid {
                    grid-template-columns: 1fr !important;
                }
            }
        }
    }

    .footer-2022 {
        padding: 60px 0; 
        .grid {
            grid-template-columns: 1fr;
            gap: 40px 20px;
            .company_info {
                grid-column: 1 / span 1;
            }
        }
    }

    .below_footer-2022 {
        .grid {
            grid-template-columns: 1fr;
        }
        .social_wrapper {
            grid-row-start: 1;
        }
        .social {
            padding: 0 30px 0 0;
        }
    }
} 