@import '_colors';

.tabs-2022 {
    margin-top: 50px;
    .labelgrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .label {
            position: relative;
            text-align: center;
            padding: 15px;
            color: $gray;
            cursor: pointer; 
            &:after {
                content: "";
                position: absolute;
                width: 80%;
                height: 2px;
                right: 0;
                bottom: 0;
                background-color: white;
            }
            &.selected {
                background-color: $lightgray;
                font-weight: bold;
                color: $raisin;
            }
        } 
    }
    .tab {
        background-color: $lightgray;
        padding: 90px;
        display: none;
        .grid {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 50px;
            .content {
                &>a, &>p, &>h4 {
                    margin-top: 20px;
                }
            }
            .image {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &.active {
            display: block; 
        }
    }
}


.tabs-vertical-2022 {
    margin-top: 50px;
    .tab {
        display: none !important;
        &.active {
            display: grid !important; 
        }
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        .l {
            padding-top: 150px;
            .label {
                cursor: pointer; 
                padding: 10px 20px;
                color: $gray;
                &.selected {
                    background-color: $lightgray;
                    font-weight: bold;
                    color: $raisin;
                }
            }
        }
        .r {
            background-color: $lightgray;
            padding: 90px;
            .subgrid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                .asset, p {
                    margin-top: 30px;
                }
                .image {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    &.useimage {
        .r {
            padding-right: 0;
            background: linear-gradient(to right, $lightgray 75%, white 75%);
            .image {
                padding-left: 50px;
                position: relative;
                &:after {
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    left: 0px;
                    top: -50px;
                    content: "";
                    background-color: $crimson;
                    opacity: 0.15;
                    border-radius: 100px;
                }
            }
        }
    }
}