@import '_colors';

.two-cards-2022 {
    margin-top: 50px;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 50%;
        height: 100%;
        left: 50%;
        z-index: -1;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 140px, $lightgray 140px);
        background-repeat: no-repeat;
        }
    .cradle {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 60px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 140px, $lightgray 140px);
        background-repeat: no-repeat;
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15%;
        .card {
            .image {
                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }
            .content {
                &>p {
                    margin-top: 20px;
                }
                &>a {
                    display: inline-block;
                    margin-top: 20px;
                }
            }
        }
    }
}