@import '_colors';

.single-video-2022 {
    margin-top: 50px;
    overflow: hidden;
    .cradle {
        padding-top: 60px;
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            right: 15px;
            top: 0;
            width: 150%;
            height: 85%;
            background: linear-gradient(126.49deg, $raisin 18.92%, #8C8C8C 100%);
        }
    }
    .preview {
        p, h3 {
            color: white;
            display: block;
            max-width: 800px;
            margin: 0 auto;
        }
        p {
            margin-bottom: 20px;
        }
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 800px;
            height: auto;
        }
    }
}

.double-video-2022 {
    margin-top: 50px;
    overflow: hidden;
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
    .cradle {
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 60px;
        position: relative;
        &:after {
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            left: 15px;
            top: 0;
            width: 150%;
            height: 90%;
            background: linear-gradient(126.49deg, $raisin 18.92%, #8C8C8C 100%);
        }
    }
    .preview {
        p, h3 {
            color: white;
            display: block;
            max-width: 800px;
            margin: 0 auto;
        }
        p {
            margin-bottom: 20px;
        }
        img {
            display: block;
            margin: 0 auto;
            width: 100%;
            max-width: 800px;
            height: auto;
        }
    }
}