@import '_colors';
@import '_buttons'; 
@import '_hero';
@import '_scroller';
@import '_customers';
@import '_news';
@import '_assets';
@import '_three_columns';
@import '_alternating_columns'; 
@import '_regular_block';
@import '_two_cards';
@import '_double_columns';
@import '_two_column_cards';
@import '_brick';
@import '_video';
@import '_spread';
@import '_tabs';
@import '_cta';
@import '_header';
@import '_footer';
/*@import '_topline';*/
@import '_mobile';
@import '_tablet';
@import '_semidesktop';

@media screen and (max-width: $mobile) {
    .hide-on-mobile {
        display: none;
    }
}

body {
    &>div.title-2022 {
        margin-bottom: 0;
    }
}

.title-2022 {
    margin-top: 100px;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}

@media screen and (max-width: $mobile) {
    .title-2022 {
        margin-top: 60px;
    }
}

.color-wrapper {
    margin-top: 100px;
    padding: 0.05px 0 60px 0;
    position: relative;
    &.bg-crimson {
        background: linear-gradient(126.49deg, #D91E39 0%, $raisin 100%);
        color: white;
        .cradle {
            &:before {
                background-color: $raisin;
            }
        }
        p, div {
            color: white;
        }
        .title-2022 {
            &:after {
                background-color: white;
            }
        }
    }
    &.bg-azure {
        background: linear-gradient(126.49deg, $teal 0%, $raisin 100%);
        color: white;
        p, div {
            color: white;
        }
        .title-2022 {
            &:after {
                background-color: white;
            }
        }
    }
    &.bg-raisin {
        background: $raisin;
        color: white;
        .grid p, .grid div {
            color: white;
        }
        .title-2022 {
            .section-name {
                color: white;
            }
        }
    }
    &.bg-lightgray {
        background: $lightgray;
    }
    &.bg-white {
        background: white;
        .cradle {
            &:before {
                display: none;
            }
        }
    }
    .title-2022 {
        max-width: 60%;
    }
    .polka {
        display: none;
    }
    .polka.r {
        display: block;
        position: absolute;
        right: 0;
        top: 100px;
        width: 40%;
        height: 105px; 
        background-size: 9px auto;
    }
    .polka.d {
        display: block;
        position: relative;
        height: 105px;
        width: 100%;
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0px;
            width: 80%;
            max-width: 1400px;
            height: 105px; 
            background-size: 9px auto;
            transform: translate(-50%, 60px);
        }
    }    
    .cradle {
        margin-top: 30px;
        padding: 60px 15px;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 100px;
            height: 100px;
            background-color: $crimson;
            opacity: 0.15;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 15px;
            transform: translateY(-80px);
        }
    }
}

.cradle {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding: 0 15px;
}

.cradle-right {
    margin-left: auto; 
    margin-right: 0;
    padding-left: 15px;
    max-width: calc(50% + 700px);
}

.padded-2022 {
    padding: 0 15px;
}

.title-2022 {
    .section-name {
        color: $sonic;
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
    }
    &:after {
        content: "";
        display: block;
        margin-top: 25px;
        width: 105px;
        height: 10px;
        background-color: $crimson;
        margin-bottom: 50px;
    }
}